# --------------------
# Maven
# --------------------
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# --------------------
# Gradle
# --------------------
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
gradle.log

# --------------------
# IntelliJ IDEA
# --------------------
.idea/
*.iml
*.iws
out/
*.ipr

# --------------------
# Logs
# --------------------
logs/
*.log

# --------------------
# OS-specific
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Environment & Config
# --------------------
.env
*.env
application-*.yml
application-*.properties

# --------------------
# Java
# --------------------
*.class
*.jar
*.war
*.ear

# --------------------
# Others
# --------------------
*.swp
*.bak
*.tmp
*.old

# --------------------
# Node (caso use front-end ou assets com npm/yarn)
# --------------------
node_modules/
npm-debug.log
yarn-error.log
